h1 {
    font-family: helvetica;
}

p {
    font-family: helvetica;
}

body {
    width:100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
}

#gameCanvas {
    background-color: black;
}

#startContainer {
    background-color: #00ffff;
    position:fixed;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameOverContainer {
    background-color: #00ffff;
    position:fixed;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameOverMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winnerContainer {
    background-color: #00ffff;
    position:fixed;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#winnerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pauseButtonContainer {
    padding: 20px;
}
