html,body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.explain {
    height: 30vh;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

h1 {
    background: rgb(212 122 11 / 20%);
    border-radius: 1em;
    padding: 0.2em
}

h2 {
    background: rgb(0 216 9 / 60%);
    border: 5px solid;
    padding: 10vh;
}

.totalPage {
    height: 100vh;
    width: 100%;
    background: linear-gradient(140deg, #D23724, #9A3B7E);
}

.form {

    display: flex;
    justify-content: center;
}

#s {
    height: 10vh;
    width: 50vw;
    text-align: center;
    font-size: 6vh;
}


.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0 0 0;
}

