html,body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1 {
    display: flex;
    justify-content: center;
    padding: 10vh;
    margin: 0;
}

h2 {
    background: rgb(0 216 9 / 60%);
    border: 5px solid;
    padding: 10vh;
}

.totalPage {
    height: 100vh;
    width: 100%;
    background: linear-gradient(140deg, #D23724, #9A3B7E);
}

.form {
    display: flex;
    justify-content: center;
    padding: 10vh;
}

#s {
    height: 10vh;
    width: 50vw;
    text-align: center;
    font-size: 6vh;
}

.result {
    display: flex;
    flex-direction: column;
    align-items:center;
}

