html,body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.totalPage {
height: 100vh;
width: 100%;
background: linear-gradient(140deg, #D23724, #9A3B7E);
}

.form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}
